{% extends "crep/base.html" %}
{% load money %}

{% block optimal_transfers %}active{% endblock %}

{% block extrahead %}
<!--
<style type="text/css">
table   { border-collapse: collapse;
	text-align: center;
}
th { border: 1px solid black }
td { border: 1px solid grey }
</style>
-->
{% endblock%}

{% block content %}

<table>
	<thead>
		<tr>
			<th>From</th>
			<th>To</th>
			<th>Ammount</th>
		</tr>
	</thead>
	<tbody>
		{% for transfer in transfers %}
			<tr>
				<td>{{transfer.sender.name}}</td>
				<td>{{transfer.recipient.name}}</td>
				<td>{{transfer.ammount|money_format}}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock%}
