{% extends "crep/base.html" %}
{% load money %}

{% block content %}
<p>
	Why not <a href="{% url crep.views.purchase_add %}">add a purchase</a>?
</p>
<p>
	You are owed {{user.ammount_owed_current|money_format}}.
</p>

<form action="{% url crep.views.add_transfer %}" method="post">
	{% csrf_token %}
	<input type="hidden" name="unit" value="pounds" />
	I have transfered £<input name="ammount" type="text"/> to 
	<select name="to">
		{% for user in users %}
			<option value="{{user.id}}">{{user.name}}</option>
		{% endfor %}
	</select>.
	<input type="submit" />
</form>

<h2>suggested transfers</h2>
<h3>from you</h3>
<ul>
	{% for transfer in suggested_from_transfers %}
		<li>{{transfer}}
			<a href="{% url crep.views.add_transfer %}?to={{transfer.recipient.id}}&ammount={{transfer.ammount}}">done</a>
		</li>
	{% endfor %}
</ul>

<h3>to you</h3>
<ul>
	{% for transfer in suggested_to_transfers %}
		<li>{{transfer}}</li>
	{% endfor %}
</ul>

<h2>pending transfers</h2>
<h3>from you</h3>
<ul>
	{% for transfer in from_transfers %}
		<li>{{transfer}}
			<a href="{% url crep.views.cancel_transfer transfer.id %}">cancel</a>
		</li>
	{% endfor %}
</ul>

<h3>to you</h3>
<ul>
	{% for transfer in to_transfers %}
		<li>{{transfer}}
			<a href="{% url crep.views.confirm_transfer transfer.id %}">confirm</a>
		</li>
	{% endfor %}
</ul>


{% endblock %}
